body {
    color: #e34208;
    background-color: rgb(77 84 90);
}
.header {
    text-align: center;
    font-size: 35px;
}
.hw {
    text-align: center;
    font-size: 30px;
}
.lessons {
    font-size: 20px;
    color: purple
}